<h2>{{model.name}}</h2>

<div class='grid'>
  {{markdown-to-html model.description}}

  {{#each model.classitems as |attribute|}}
    {{attribute.name}}
    {{markdown-to-html attribute.description}}
  {{/each}}
</div>
